.imageUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    /* background-color: ; */
    /* position: fixed;
    bottom: 0; */
}

.imageUpload_progress {
    width: 100%;
}